@import url('https://fonts.googleapis.com/css2?family=Inter:wght@200;300;400;500;600&display=swap');

* {
    padding: 0;
    margin: 0;
}

.app {
    font-family: 'Inter', sans-serif;
    display: flex;
    height: 100vh;
}

form {
    height: 75vh;
    width: 30vw;
}

.PdfPreview {
    height: 75vh;
    width: 30vw;
    border: 1px black solid;
}

.PdfView {
    height: 75vh;
    width: 30vw;
}