@import url('https://fonts.googleapis.com/css2?family=Inter:wght@200;300;400;500;600&display=swap');

* {
    padding: 0;
    margin: 0;
}

.html {
    font-size: 16px;
}

.app {
    font-family: 'Inter', sans-serif;
    display: flex;
    height: 100vh;
}

form {
    height: 75vh;
    width: 30vw;
}

.PdfPreview {
    height: 75vh;
    width: 30vw;
    border: 1px black solid;
    display: flex;
    flex-direction: column;
    align-items: center;
}

/*          General Info             */

.sectionOne {
    background-color: lightblue;
    height: 20%;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 16px;
}

.viewName {
    font-size: 1.5rem;
}

.viewGeneralInfo {
    display: flex;
    gap: 16px;
}

.viewPhone {
    border-right: 1px solid black;
    padding: 0 16px;
}

.sectionTwo {
    background-color: lightgreen;
    height: 20%;
    width: 100%;
}

.sectionThree {
    background-color: lightslategray;
    height: 30%;
    width: 100%;
}


.PdfView {
    height: 75vh;
    width: 30vw;
}