@import url('https://fonts.googleapis.com/css2?family=Inter:wght@200;300;400;500;600&display=swap');

* {
    padding: 0;
    margin: 0;
}

.html {
    font-size: 16px;
}

.app {
    font-family: 'Inter', sans-serif;
    display: flex;
    flex-direction: column;
    height: 100vh;
}

header {
    height: 72px;
    background-color: darkslategray;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2rem;
    letter-spacing: 1.5pt;
}

.body {
    height: 100%;
    display: flex;
    gap: 100px;
    justify-content: center;
    align-items: center;
}

form {
    border: black 1px solid;
    max-height: 85vh;
    width: 40vw;
    padding: 16px;
}

.PdfView {
    height: 85vh;
    width: 32vw;
}

.PdfPreview {
    font-size: .8rem;
    height: 75vh;
    width: 30vw;
    border: 1px black solid;
    display: flex;
    flex-direction: column;
    align-items: center;
}

/*          General Info             */

.sectionOne {
    background-color: lightblue;
    height: 20%;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 16px;
}

.viewName {
    font-size: 1.5rem;
}

.viewGeneralInfo {
    display: flex;
}

.viewPhone {
    padding-right: 8px;
}

.viewWebsite {
    border-right: 1px solid black;
    border-left: 1px solid black;
    padding: 0 8px;
}

.viewEmail {
    padding-left: 8px;
}

/*          Education             */

.sectionTwo {
    background-color: lightgreen;
    height: 20%;
    width: 100%;
    display: flex;
    flex-direction: column;
}

.subCategory {
    display: flex;
    justify-content: space-between;
}

.subCategory p {
    display: flex;
    gap: 10px;
}

.viewEducationTitle {
    border-bottom: 1px black solid;
    margin: 4px 4px 0 4px;
    padding-bottom: 4px;
}

.viewEducationWrapper {
    display: flex;
    flex-direction: column;
}

.viewSchoolWrapperOne {
    padding: 6px 6px 4px 6px;
    display: flex;
    justify-content: space-between;
}

.viewSchoolWrapperTwo {
    padding: 6px 6px 4px 6px;
    display: flex;
    justify-content: space-between;
}

/*          Experience             */

.sectionThree {
    background-color: lightslategray;
    height: 30%;
    width: 100%;
}

/*          Projects            */

.fieldset {
    display: flex;
    justify-content: space-between;
}

.subCategoryTwo p {
    display: flex;
    gap: 10px;
}

/*          Technical Experience          */

.technicalCategories {
    display: flex;
    gap: 12px;
}

.downloadBtn {
    height: 50px;
    width: 100px;
    background-color: gray;
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    color: white;
    border: black 1px solid;
    border-radius: 12px;
}